*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}
:root,body {
  background-color: #333;
  font-display: swap;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  font-size: clamp(1rem,.75rem + 1.5vw,2rem); /*web.dev😄*/
  min-height: 100vh; /*confirm on web.dev*/
}
body {
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar {
  color: #fff;
}
.navbar span {
  font-size: 3rem;
}
.navbar a {
  font-size: 1.5rem;
}
/* button {
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  padding: 16px;
} */
main > a {
  background-color: #333;
  border: 2px solid ;
  border-radius: 8px;
  color: #fff;
  padding: 16px;
}
main nav ul li {
  color: #fff;
  margin-block-end: 8px;
  text-transform: uppercase;
}